@@include('modules/sub_header.html', {"title": "Home", "class": ""})

<div class="content-body">
    <div class="sub-content-head-wrap sub-content4">
        @@include('modules/sub_content_head.html')
        <div class="sub-navigation-wrap">
            <div class="sub-navigation">
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>온라인 신청</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="about_us.html">태양광 지원 센터</a></li>
                            <li><a href="mini_power_plant.html">태양광 미니 발전소</a></li>
                            <li><a href="service.html">설치 안내</a></li>
                            <li><a href="install_apply.html">온라인 신청</a></li>
                            <li><a href="notice.html">게시판</a></li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>AS 신청</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="install_apply.html">설치신청</a></li>
                            <li><a href="as.html">AS 신청</a></li>
                            <li><a href="situation.html">진행 상황 조회</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section as-content-wrap">
        <button class="top-button">up</button>
        <div class="sub-title-wrap">
            <h2 class="content-title">태양광 미니발전소 AS신청</h2>
            <p class="content-contents">서울에너지공사 태양광 미니발전소 AS신청을 위해 아래 정보를 입력해주세요.</p>
            <span class="black-bar"></span>
        </div>
        <div class="section-content as-content">
            <h3>AS 정보</h3>
            <form action="">
                <h4>보급업체 선택<span>*</span></h4>
                <select name="item-name" id="i-name">
                    <option value="i-name01" selected disabled>업체를 선택해 주세요.</option>
                    <option value="i-name01">에스파워㈜</option>
                    <option value="i-name02">이솔라텍㈜</option>
                    <option value="i-name03">행운태양광협동조합</option>
                    <option value="i-name04">㈜그린쏠라에너지</option>
                    <option value="i-name05">㈜유앤알</option>
                    <option value="i-name06">㈜현대S.W.D산업</option>
                    <option value="i-name07">㈜에스엠이앤아이</option>
                    <option value="i-name08">㈜성암 이앤씨</option>
                    <option value="i-name01">서울시민햇빛발전 협동조합</option>
                    <option value="i-name02">솔라테라스㈜</option>
                    <option value="i-name03">SKC인프라서비스㈜</option>
                    <option value="i-name04">해드림협동조합</option>
                    <option value="i-name05">㈜온누리태양에너지</option>
                    <option value="i-name06">㈜한국전기공사</option>
                    <option value="i-name07">녹색드림협동조합</option>
                    <option value="i-name08">㈜전진태양광</option>
                    <option value="i-name07">㈜현대에코쏠라</option>
                    <option value="i-name08">㈜대덕전력에너지</option>
                </select>
                <h4>문의사항<span>*</span></h4>
                <textarea name="AS" id="" cols="169" rows="10" placeholder="문의사항을 입력해주세요." required></textarea>
                <h4>AS희망일자<span>*</span></h4>
                <input type="button" class="calendar">
                <input type="text" placeholder="AS 희망일자를 선택해주세요." required>
                <div class="button-wrap">
                    <input type="button" value="취소" class="cancel" onClick="location.href='index.html'">
                    <input type="submit" value="신청완료" class="complete" onClick="location.href='situation_as.html'">
                </div>
            </form>
        </div>
    </div>
</div>

@@include('modules/footer.html')