@@include('modules/sub_header.html', {"title": "Home", "class": ""})

<div class="content-body">
    <div class="sub-content-head-wrap sub-content1">
        @@include('modules/sub_content_head.html')
        <div class="sub-navigation-wrap">
            <div class="sub-navigation">
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>태양광지원센터</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="about_us.html">태양광 지원 센터</a></li>
                            <li><a href="mini_power_plant.html">태양광 미니 발전소</a></li>
                            <li><a href="service.html">설치 안내</a></li>
                            <li class="alert-pop"><a href="install_apply.html">온라인 신청</a></li>
                            <li><a href="notice.html">게시판</a></li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>인사말</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="about_us.html">인사말</a></li>
                            <li><a href="background.html">설립배경</a></li>
                            <li><a href="introduction.html">소개 및 역할</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section sub-content-wrap">
         <div class="section-content sub-content">
             <button class="top-button">up</button>
             <div class="text"></div>
             <div class="sub-title-wrap">
                 <span class="black-bar"></span>
             </div>
             <p>안녕하십니까?  서울에너지공사 태양광지원센터장 정영채입니다. <br><br>서울햇빛마루 방문을 진심으로 환영합니다. <br><br>서울에너지공사는 '2022년 태양의도시, 서울' 종합계획의 실행기관으로서 가정용 태양광 100만가구 보급을 위해 태양광지원센터를 설립 운영 중에 있습니다. <br> 공사는 센터를 통해 도시에 적합한 태양광 보급 모델을 발굴하고 보급하는 데 최선의 노력을 다하고 있습니다. <br><br>태양광지원센터는 이를 위해 서울시 5개 권역에 권역별 센터와 온라인 플랫폼인 본 ‘서울햇빛마루’ 사이트를 운영 중에 있습니다. 서울시민들은 누구나 이를 통해 <br> 사전 컨설팅부터 설치, 보조금 신청 및 사후관리까지 ‘원스톱 서비스’를 제공 받을 수 있습니다. <br><br>서울시 에너지 정책의 중심은 서울시민입니다. <br>태양광지원센터는 서울시민과 함께, 깨끗하고 안전한 태양광발전사업을 통해 미세먼지 없는<br> ‘태양의 도시, 서울’을 만들기 위해 노력하겠습니다. <br><br>앞으로도 많은 관심과 성원 부탁드립니다. <br><br>감사합니다. </p>
         </div>
    </div>
</div>

@@include('modules/footer.html')