@@include('modules/sub_header.html', {"title": "Home", "class": ""})

<div class="content-body">
    <div class="sub-content-head-wrap sub-content3">
        @@include('modules/sub_content_head.html')
        <div class="sub-navigation-wrap">
            <div class="sub-navigation">
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>태양광지원센터</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="about_us.html">태양광 지원 센터</a></li>
                            <li><a href="mini_power_plant.html">태양광 미니 발전소</a></li>
                            <li><a href="service.html">설치 안내</a></li>
                            <li class="alert-pop"><a href="install_apply.html">온라인 신청</a></li>
                            <li><a href="notice.html">게시판</a></li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>보급업체정보</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="check_list.html">사전 확인 사항</a></li>
                            <li><a href="company_info.html">보급업체정보</a></li>
                            <li><a href="product_info.html">상품정보</a></li>
                            <li><a href="fund.html">보조금 정보</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="company-content-wrap section">
        <div class="company-content section-content">
           <button class="top-button">up</button>
            <div class="company-content-wrap-grid">
                <div>
                    <img src="img/c-logo91.png" alt="㈜광주데코임포트">
                    <h2>㈜광주데코임포트</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo78.png" alt="녹색드림협동조합">
                    <h2>녹색드림협동조합</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo61.png" alt="서울시민햇빛발전조합">
                    <h2 class="no-pad">서울시민<br>햇빛발전조합</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo85.png" alt="솔라테라스">
                    <h2>솔라테라스</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo55.png" alt="㈜가경에너지">
                    <h2>㈜가경에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo81.png" alt="㈜경동솔라에너지">
                    <h2>㈜경동솔라에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo86.png" alt="㈜광명에스피">
                    <h2>㈜광명에스피</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo64.png" alt="㈜광전에너지공사">
                    <h2>㈜광전에너지공사</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo52.png" alt="㈜그린쏠라에너지">
                    <h2>㈜그린쏠라에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo49.png" alt="㈜에스엠이앤아이">
                    <h2>㈜에스엠이앤아이</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo68.png" alt="㈜나노조명">
                    <h2>㈜나노조명</h2>
                    <button>보기</button>
                </div>

               
                <div>
                    <img src="img/c-logo94.png" alt="㈜네오에너지랩">
                    <h2>㈜네오에너지랩</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo73.png" alt="㈜넥스트에너지코리아">
                    <h2 class="no-pad">㈜넥스트<br>에너지코리아</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo92.png" alt="㈜다산신재생에너지">
                    <h2 class="no-pad">㈜다산<br>신재생에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo47.png" alt="㈜다온전기">
                    <h2>㈜다온전기</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo63.png" alt="㈜라인이엔지">
                    <h2>㈜라인이엔지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo84.png" alt="㈜만양">
                    <h2>㈜만양</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo36.png" alt="㈜마이크로발전소">
                    <h2>㈜마이크로발전소</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo87.png" alt="㈜무한에너지">
                    <h2>㈜무한에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo46.png" alt="㈜별빛에너지">
                    <h2>㈜별빛에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo88.png" alt="㈜보승전력">
                    <h2>㈜보승전력</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo51.png" alt="㈜성암이앤씨">
                    <h2>㈜성암이앤씨</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo65.png" alt="㈜썬에너지">
                    <h2>㈜썬에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo50.png" alt="㈜에스케이솔라에너지">
                    <h2 class="no-pad">㈜에스케이<br>솔라에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo90.png" alt="㈜에이앤비씨">
                    <h2>㈜에이앤비씨</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo56.png" alt="㈜에타솔라">
                    <h2>㈜에타솔라</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo82.png" alt="㈜엠버전기">
                    <h2>㈜엠버전기</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo95.png" alt="㈜예토쏠라">
                    <h2>㈜예토쏠라</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo77.png" alt="㈜용상전기통신">
                    <h2>㈜용상전기통신</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo79.png" alt="㈜우림테크">
                    <h2>㈜우림테크</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo70.png" alt="㈜유앤알">
                    <h2>㈜유앤알</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo67.png" alt="㈜이성전기">
                    <h2>㈜이성전기</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo76.png" alt="㈜이솔라텍">
                    <h2>㈜이솔라텍</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo60.png" alt="㈜전진태양광">
                    <h2>㈜전진태양광</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo48.png" alt="㈜중앙에너지">
                    <h2>㈜중앙에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo66.png" alt="㈜태현디엔에스">
                    <h2>㈜태현디엔에스</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo75.png" alt="㈜판토스">
                    <h2>㈜판토스</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo71.png" alt="㈜퓨젼아이앤씨">
                    <h2>㈜퓨젼아이앤씨</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo96.png" alt="㈜해빛들에너지">
                    <h2>㈜해빛들에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo89.png" alt="㈜효성전력">
                    <h2>㈜효성전력</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo83.png" alt="행운태양광협동조합">
                    <h2 class="no-pad">행운태양광<br>협동조합</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo54.png" alt="㈜제어와정보">
                    <h2>㈜제어와정보</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo57.png" alt="㈜칸씨앤에스">
                    <h2>㈜칸씨앤에스</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo58.png" alt="㈜한국전기공사">
                    <h2>㈜한국전기공사</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo59.png" alt="㈜조은에너지">
                    <h2>㈜조은에너지</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo62.png" alt="㈜메가솔라">
                    <h2>㈜메가솔라</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo69.png" alt="㈜평산전력기술">
                    <h2>㈜평산전력기술</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo72.png" alt="㈜현대S.W.D산업">
                    <h2>㈜현대S.W.D산업</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo74.png" alt="㈜수화정보통신">
                    <h2>㈜수화정보통신</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo80.png" alt="㈜해솔이엔씨">
                    <h2>㈜해솔이엔씨</h2>
                    <button>보기</button>
                </div>
                <div>
                    <img src="img/c-logo93.png" alt="㈜경성텔레콤">
                    <h2>㈜경성텔레콤</h2>
                    <button>보기</button>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('modules/footer.html')




<div class="pop-wrap">
    <div class="pop-wrap-content">
        <button class="pop-close">close</button>
        <div class="pop-wrap-content-inner">
            <div class="inner-title">
                <img src="img/c-logo1.png" alt="㈜광주데코임포트">
                <div class="tBox">
                    <h2>에스파워㈜</h2>
                    <p>070-4339-7100</p>
                    <p>경기도 성남시 분당구 판교역로 241번길 20, 미래에셋타워 3층</p>
                </div>
            </div>
            <div class="inner-item">
                <div class="exp-box">
                    <p>이솔라텍㈜는태양광 발전장치의 장수명화, 발전효율증대, 설비 이용률 극대화를 위한 인버터,접속반,
모니터링시스템에대한 기술을 지속적으로 연구,개발하여 왔습니다. 연구진들의 기술력을 바탕으로 
태양광발전시스템의 근간이되는 인버터,접속반,모니터링시스템의 특화된 자체기술 개발완료및 성능인증 취득에 
성공하였고, 모듈 인버터,접속반의 고장점을 신속, 정확하게 진단하여 발전효율을 극대화하는 친환경 태양광 
발전시스템의 품질과 상품성을 검증받아 국내시장 개척과 고객 여러분께 Total Solution제공을 하고있습니다. 
또한, 태양광발전시스템의 개발제품을 직접설치, 시공함으로써 고객의 입장에서 보다나은 After Service를 실현하며, 
무결점 제품개발에 노력을 기울이고 있습니다</p>
                </div>
                <input type="button" value="설비 제품 확인" onclick="location.href='product_info.html'">
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {


    $('.company-content-wrap-grid div').click(function(){
        num = $(this).index();
        textnum = $(this).children('h2').text();
        $('.pop-wrap').addClass('pop-open');

        $('.pop-wrap-content-inner div img').attr('src','img/c-logo'+num+'.png');
        $('.pop-wrap-content-inner h2').text(textnum);
        $('.pop-wrap-content-inner > div .tBox p').text(companyPhonnumber[num]);
    });

    $('.pop-close').click(function(){
        $('.pop-wrap').removeClass('pop-open');
    });
});
</script>




















