@@include('modules/sub_header.html', {"title": "Home", "class": ""})

<div class="content-body">
    <div class="sub-content-head-wrap sub-content2">
        @@include('modules/sub_content_head.html')
        <div class="sub-navigation-wrap">
            <div class="sub-navigation">
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>태양광지원센터</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="about_us.html">태양광 지원 센터</a></li>
                            <li><a href="mini_power_plant.html">태양광 미니 발전소</a></li>
                            <li><a href="service.html">설치 안내</a></li>
                            <li class="alert-pop"><a href="install_apply.html">온라인 신청</a></li>
                            <li><a href="notice.html">게시판</a></li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>설치사례</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="mini_power_plant.html">미니태양광이란?</a></li> <!-- 2019-06-05 -->
                            <li><a href="diss.html">보급목표</a></li>
                            <li><a href="installation_case.html">설치사례</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section process-content-wrap">
        <div class="section-content process-content">
           <button class="top-button">up</button>
            <div class="sub-title-wrap">
                <h2 class="content-title">베란다형 태양광 미니 발전소 설치 과정</h2>
                <span class="black-bar"></span>
            </div>
            <p class="bdrs-box">
                태양광 설치과정 (거치형)
            </p>
            <div class="process-inner">
                <div class="item1">
                    <div>
                        <span>1</span>
                        <p>태양광모듈에 추락방지로프를 연결한 후<br> 난간에 거치합니다.</p>
                    </div>
                </div>
                <div class="item2">
                    <div>
                        <span>2</span>
                        <p>모듈거치대 상단과 난간을 결속한 후 안전성<br> 강화를 위해 추가로 STS Band를 체결합니다.</p>
                    </div>
                </div>
                <div class="item3">
                    <div>
                        <span>3</span>
                        <p>모듈거치대 하단과 난간을 결속합니다.</p>
                    </div>
                </div>
                <div class="item4">
                    <div>
                        <span>4</span>
                        <p>거치대에 인버터를 조립하고, 태양광모듈과<br> 연결합니다.</p>
                    </div>
                </div>
                <div class="item5">
                    <div>
                        <span>5</span>
                        <p>인버터와 연결된 전기플러그를 가정용 콘센트에 꽂아 전력을 공급합니다.</p>
                    </div>
                </div>
                <div class="item6">
                    <div>
                        <span>6</span>
                        <p>설치 완료 후 자가점검 방법 등 기본적인<br> 사항에 대해 설명 드립니다.</p>
                    </div>
                </div>
                <p class="sources">※ 보급업체 별 제품에 따라서 설치과정이 상이할 수 있습니다.</p>
            </div>
            <p class="bdrs-box">
                태양광 설치과정 (앵커형)
            </p>
            <div class="process-inner last">
                <div class="item1">
                    <div>
                        <span>1</span>
                        <p>태양광모듈, 인버터 등 설치에 필요한 자재를<br> 준비합니다.</p>
                    </div>
                </div>
                <div class="item2">
                    <div>
                        <span>2</span>
                        <p>설치할 옥상 바닥면과 지지대 결합을 위한<br> 타공 작업을 실시합니다.</p>
                    </div>
                </div>
                <div class="item3">
                    <div>
                        <span>3</span>
                        <p>지지대와 태양광 모듈을 옥상지면에 견고하게 결속합니다.</p>
                    </div>
                </div>
                <div class="item4">
                    <div>
                        <span>4</span>
                        <p>지지대에 인버터를 조립하고, 태양광모듈과<br> 연결합니다.</p>
                    </div>
                </div>
                <div class="item5">
                    <div>
                        <span>5</span>
                        <p>전기 배선정리 및 방수작업을 수행합니다.</p>
                    </div>
                </div>
                <div class="item6">
                    <div>
                        <span>6</span>
                        <p>설치가 완료된 모습입니다.</p>
                    </div>
                </div>
                <p class="sources">※ 보급업체 별 제품에 따라서 설치과정이 상이할 수 있습니다.</p>
            </div>
        </div>
    </div>
    <div class="section case-content-wrap">
        <div class="section-content case-content">
            <div class="sub-title-wrap">
                <h2 class="content-title">베란다형 태양광 미니 발전소 설치 사례</h2>
                <span class="black-bar"></span>
            </div>
            <div class="case-inner">
                <div class="item1">
                    <div>
                       <b>0</b>
                        <p>강남구 대치동 대치 1단지</p>
                    </div>
                </div>
                <div class="item2">
                    <div>
                       <b>0</b>
                        <p>동대문구 제기동 제기이수브라운스톤</p>
                    </div>
                </div>
                <div class="item3">
                    <div>
                       <b>0</b>
                        <p>종로구 창신동 두산아파트</p>
                    </div>
                </div>
                <div class="item4">
                    <div>
                       <b>0</b>
                        <p>서대문구 수색로 신일해피트리 아파트</p>
                    </div>
                </div>
                <div class="item5">
                    <div>
                       <b>0</b>
                        <p>종로구 창신동 두산아파트</p>
                    </div>
                </div>
                <div class="item6">
                    <div>
                       <b>0</b>
                        <p>성동구 아차산로 신한드림빌</p>
                    </div>
                </div>
                <p class="sources">자료: 서울시 기후 환경본부</p>
            </div>
        </div>
    </div>
</div>

@@include('modules/footer.html')