@@include('modules/sub_header.html', {"title": "Home", "class": ""})

<div class="content-body">
    <div class="sub-content-head-wrap sub-content4">
        @@include('modules/sub_content_head.html')
        <div class="sub-navigation-wrap">
            <div class="sub-navigation">
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>온라인 신청</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="about_us.html">태양광 지원 센터</a></li>
                            <li><a href="mini_power_plant.html">태양광 미니 발전소</a></li>
                            <li><a href="service.html">설치 안내</a></li>
                            <li><a href="install_apply.html">온라인 신청</a></li>
                            <li><a href="notice.html">게시판</a></li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span>진행 상황 조회</span>
                        <img src="./img/ico_small_next.png" alt="small_next">
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="install_apply.html">설치신청</a></li>
                            <li><a href="as.html">AS 신청</a></li>
                            <li><a href="situation.html">진행 상황 조회</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section situ-content-wrap">
        <div class="section-content situ-content">
            <button class="top-button">up</button>
            <div class="sub-title-wrap">
                <h2 class="content-title">진행 상황 조회</h2>
                <p class="content-contents">미니발전소 설치 및  A/S 진행사황을 조회하여 정보를 확인하실 수 있습니다.</p>
            </div>
            <div class="tabs-wrap">
                <ul class="tabs">
                    <li><a href="#tab1" class="on">설치현황</a></li>
                    <li><a href="#tab2">A/S 현황</a></li>
                </ul>
                <div class="panels">
                    <div class="panel" id="tab1">
                        <table border="1" frame="void" class="plus-table">
                            <caption class="test">신청 확인</caption>
                            <tr>
                                <th>NO</th>
                                <th>설치 위치</th>
                                <th>진행 상태</th>
                                <th>진행상황<br>자세히 보기</th>
                            </tr>
                            <tr class="main-item">
                                <td class="check number number1">1</td>
                                <td>서울특별시 광진구 능동로 339 희재빌딩 5층</td>
                                <td>설치 완료</td>
                                <td><div></div></td>
                            </tr>
                            <tr class="main-item">
                                <td class="number number2">2</td>
                                <td>서울특별시 송파구 백제고분로7길 27 반석빌딩 지하 1층</td>
                                <td>온라인 접수</td>
                                <td><div></div></td>
                            </tr>
                        </table>
                        <div class="check-content focus-content number1-1">
                            <div class="icon-wrap">
                                <ul class="icon-content">
                                    <li><img src="img/step2-icon1-2.png" alt="온라인접수">인터넷을 통해 설치<br>신청서를 작성합니다.</li>
                                    <li><img src="img/step2-circle1.png" alt="bluecircle"></li>
                                    <li><img src="img/step2-icon2-2.png" alt="신청 및 확인">설치 신청 및<br>확인을 진행합니다.</li>
                                    <li><img src="img/step2-circle1.png" alt="graycircle"></li>
                                    <li><img src="img/step2-icon3-2.png" alt="설치 예정">미니 태양광 설치를<br>진행합니다.</li>
                                    <li><img src="img/step2-circle1.png" alt="graycircle"></li>
                                    <li><img src="img/step2-icon4-1.png" alt="설치 완료">미니 태양광을<br>이용합니다.</li>
                                </ul>
                            </div>
                            <table border="1" frame="void">
                               <caption>설치정보</caption>
                                <tr>
                                    <th>설치예정일</th>
                                    <td>2019년 05월 13일</td>
                                </tr>
                                <tr>
                                    <th>설치예정 보급업체</th>
                                    <td>㈜성암 이앤씨</td>
                                </tr>
                                <tr>
                                    <th>담당기사</th>
                                    <td>홍길동</td>
                                </tr>
                                <tr>
                                    <th>담당기사 연락처</th>
                                    <td>010-1234-1234</td>
                                </tr>
                            </table>
                            <table border="1" frame="void" class="margin-table">
                                <caption>결제정보</caption>
                                <tr>
                                    <th>결제상태</th>
                                    <td>결제완료</td>
                                </tr>
                                <tr>
                                    <th>상품금액</th>
                                    <td>1,000,000</td>
                                </tr>
                                <tr>
                                    <th>시보조금</th>
                                    <td>300,000</td>
                                </tr>
                                <tr>
                                    <th>자치구 보조금</th>
                                    <td>100,000</td>
                                </tr>
                                <tr>
                                    <th>실 결제금액</th>
                                    <td>600,000</td>
                                </tr>
                            </table>
                            <button type="button">
                                계약서 다운로드
                            </button>
                        </div>
                        <div class="focus-content number2-1">
                            <div class="icon-wrap">
                                <ul class="icon-content">
                                    <li><img src="img/step2-icon1-1.png" alt="온라인접수">인터넷을 통해 설치<br>신청서를 작성합니다.</li>
                                    <li><img src="img/step2-circle1.png" alt="bluecircle"></li>
                                    <li><img src="img/step2-icon2-2.png" alt="신청 및 확인">설치 신청 및<br>확인을 진행합니다.</li>
                                    <li><img src="img/step2-circle2.png" alt="graycircle"></li>
                                    <li><img src="img/step2-icon3-3.png" alt="설치 예정">미니 태양광 설치를<br>진행합니다.</li>
                                    <li><img src="img/step2-circle2.png" alt="graycircle"></li>
                                    <li><img src="img/step2-icon4-3.png" alt="설치 완료">미니 태양광을<br>이용합니다.</li>
                                </ul>
                            </div>
                            <table border="1" frame="void">
                               <caption>설치정보</caption>
                                <tr>
                                    <th>설치요청일</th>
                                    <td>2019년 05월 11일</td>
                                </tr>
                                <tr>
                                    <th>설치예정 보급업체</th>
                                    <td>해드림협동조합</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel" id="tab2">
                        <table border="1" frame="void" class="plus-table">
                            <caption>신청 확인</caption>
                            <tr>
                                <th>NO</th>
                                <th>설치 위치</th>
                                <th>진행 상태</th>
                                <th>진행상황<br>자세히 보기</th>
                            </tr>
                            <tr class="main-item">
                                <td class="check number number1">1</td>
                                <td>서울특별시 광진구 능동로 339 희재빌딩 5층</td>
                                <td>A/S 완료</td>
                                <td><div></div></td>
                            </tr>
                            <tr class="main-item">
                                <td class="number number2">2</td>
                                <td>서울특별시 송파구 백제고분로7길 27 반석빌딩 지하 1층</td>
                                <td>A/S 신청</td>
                                <td><div></div></td>
                            </tr>
                        </table>
                        <div class="focus-content number1-1 check-content">
                            <div class="icon-wrap">
                                <ul class="icon-content as-content">
                                    <li><img src="img/step1-icon1-2.png" alt="A/S 신청">A/S 신청을<br>등록한 상태.</li>
                                    <li><img src="img/step1-circle1.png" alt="bluecircle"></li>
                                    <li><img src="img/step1-icon2-2.png" alt="A/S 방문예정">담당기사가 배정되고설치예정일이<br>정해진 상태.</li>
                                    <li><img src="img/step1-circle1.png" alt="graycircle"></li>
                                    <li><img src="img/step1-icon3-1.png" alt="A/S 완료">A/S 처리가<br>완료된 상태.</li>
                                </ul>
                            </div>
                            <table border="1" frame="void" class="margin-table">
                                <caption>A/S 현황</caption>
                                <tr>
                                    <th>설치요청일</th>
                                    <td>2019년 05월 04일</td>
                                </tr>
                                <tr>
                                    <th>A/S 예정 보급업체</th>
                                    <td>솔라테라스㈜</td>
                                </tr>
                                <tr>
                                    <th>담당기사</th>
                                    <td>홍길동</td>
                                </tr>
                                <tr>
                                    <th>담당기사 연락처</th>
                                    <td>010-1234-1234</td>
                                </tr>
                                <tr class="textarea-ex">
                                    <th valign="top">문의 내역</th>
                                    <td valign="top">비가 많이와서 정상적으로 작동이 안되는것 같아요. <br>빠른시일에 A/S가 완료 되었으면 합니다. <br>잘 부탁드립니다.</td>
                                </tr>
                            </table>
                        </div>
                        <div class="focus-content number2-1">
                            <div class="icon-wrap">
                                <ul class="icon-content as-content">
                                    <li><img src="img/step1-icon1-1.png" alt="A/S 신청">A/S 신청을<br>등록한 상태.</li>
                                    <li><img src="img/step1-circle1.png" alt="bluecircle"></li>
                                    <li><img src="img/step1-icon2-2.png" alt="A/S 방문예정">담당기사가 배정되고설치예정일이<br>정해진 상태.</li>
                                    <li><img src="img/step1-circle2.png" alt="graycircle"></li>
                                    <li><img src="img/step1-icon3-3.png" alt="A/S 완료">A/S 처리가<br>완료된 상태.</li>
                                </ul>
                            </div>
                            <table border="1" frame="void" class="margin-table">
                                <caption>A/S 현황</caption>
                                <tr>
                                    <th>설치요청일</th>
                                    <td>2019년 05월 013일</td>
                                </tr>
                                <tr>
                                    <th>A/S 예정 보급업체</th>
                                    <td>㈜유앤알</td>
                                </tr>
                                <tr>
                                    <th>담당기사</th>
                                    <td>홍길동</td>
                                </tr>
                                <tr>
                                    <th>담당기사 연락처</th>
                                    <td>010-1234-1234</td>
                                </tr>
                                <tr class="textarea-ex">
                                    <th valign="top">문의 내역</th>
                                    <td valign="top">며칠 전 부터 정상적으로 작동이 되지않습니다.<br>빠른시일에 A/S가 완료 되었으면 합니다. <br>잘 부탁드립니다.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('modules/footer.html')