# PDT-specific
globals.properties

target/**
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests
### CVS template
/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore
### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# parcel-bundler cache (https://parceljs.org/)
.cache

# next.js build output
.next

# nuxt.js build output
.nuxt

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless

.idea/libraries/lib.xml
.idea/misc.xml
.idea/workspace.xml
src/main/main.iml
src/main/statics/.babelrc
src/main/statics/.gitignore
/src/main/main.iml
/target/
src/main/webapp/WEB-INF/jsp/main/citizen/
/src/main/statics/node_modules/
/.classpath
/src/main/resources/egovframework/egovProps/globals.properties
.idea/kotlinc.xml
.idea/sqldialects.xml

.idea/solar.iml
src/main/statics/dist/img/all-check-off.png
src/main/statics/dist/img/arrow-right-sm-grey.png
src/main/statics/dist/img/arrow-right-sm.png
src/main/statics/dist/img/blue-check.png
src/main/statics/dist/img/check-off.png
src/main/statics/dist/img/check-on.png
src/main/statics/dist/img/circle-check-off.png
src/main/statics/dist/img/circle-check-on.png
src/main/statics/dist/img/join_bg.png
src/main/statics/dist/img/login_bg.png
src/main/statics/dist/img/login_content_bg.png
src/main/statics/dist/img/main_bg_left.png
src/main/statics/dist/img/main_bg_right.png
src/main/statics/dist/img/notebook.png
src/main/statics/dist/img/small-f-logo.png
src/main/statics/dist/img/small-logo.png
src/main/statics/dist/img/step1-circle1.png
src/main/statics/dist/img/step1-circle2.png
src/main/statics/dist/img/step1-icon1-1.png
src/main/statics/dist/img/step1-icon1-2.png
src/main/statics/dist/img/step1-icon2-1.png
src/main/statics/dist/img/step1-icon2-2.png
src/main/statics/dist/img/step1-icon3-1.png
src/main/statics/dist/img/step1-icon3-2.png
src/main/statics/dist/img/step1-icon3-3.png
src/main/statics/dist/img/step2-circle1.png
src/main/statics/dist/img/step2-circle2.png
src/main/statics/dist/img/step2-icon1-1.png
src/main/statics/dist/img/step2-icon1-2.png
src/main/statics/dist/img/step2-icon2-1.png
src/main/statics/dist/img/step2-icon2-2.png
src/main/statics/dist/img/step2-icon3-1.png
src/main/statics/dist/img/step2-icon3-2.png
src/main/statics/dist/img/step2-icon3-3.png
src/main/statics/dist/img/step2-icon4-1.png
src/main/statics/dist/img/step2-icon4-2.png
src/main/statics/dist/img/step2-icon4-3.png
src/main/statics/dist/img/table-search.png
src/main/statics/dist/mobile/
src/main/statics/src/mobile/
src/main/statics/src/scss/modules/_deep_account_01.scss
src/main/statics/src/scss/modules/_deep_account_02.scss
src/main/statics/src/scss/modules/_find_account.scss
src/main/statics/src/scss/modules/_install_apply_step2.scss
src/main/statics/src/scss/modules/_join_01.scss
src/main/statics/src/scss/modules/_login_01.scss
src/main/statics/src/scss/modules/_member_info.scss
src/main/statics/src/views/deep_account_01.html
src/main/statics/src/views/deep_account_02.html
src/main/statics/src/views/email_number.html
src/main/statics/src/views/find_account.html
src/main/statics/src/views/find_account_pw.html
src/main/statics/src/views/install_apply_step2.html
src/main/statics/src/views/join_01.html
src/main/statics/src/views/login_01.html
src/main/statics/src/views/member_info.html
src/main/statics/src/views/mtm_list.html
src/main/statics/src/views/situation_as.html
src/main/webapp/templates/js/jquery.cookie.js
