.section {
    &.install-content-wrap {
        .section-content {
            label {
                color: $mainTextColor;
                font: {
                    size: 21px;
                }
                span {
                    color: #ff671f;
                }
            }
            input {
                border: 1px solid $boderGray2;
                color: $mainTextColor4;
                font: {
                    size: 20px;
                    weight: 400;
                }
                &.input-date {
                    width: 100%;
                    height: 64px;
                    display: block;
                    @include margin ($mt:14px, $mb:28px);
                    @include padding ($pl:19px,$pr:19px);
                    border: 1px solid $boderGray2;
                }
            }
            ::placeholder {
                color: $boderGray2;
                font: {
                    size: 20px;
                    weight: 300;
                }
            }
            .apply-wrap {
                h2 {
                    color: $mainTextColor3;
                    font: {
                        size: 28px;
                    }
                }
                .top-form {
                    .top-top {
                        &:after {
                            @include clearBoth();
                        }
                        input {
                            @include margin ($mt:14px);
                            @include padding ($pl:19px,$pr:19px);
                            width: 575px; height: 64px;
                        }
                        >div {
                            @include margin ($mt:28px);
                            float: left;
                            &:nth-child(odd) {
                                @include margin ($mr:50px);
                            }
                        }
                        .top-phone {
                            input {
                                background: #f1f1f1;
                            }
                        }
                    }
                .top-bottom {
                    @include border-bottom;
                    color: $mainTextColor;
                    font: {
                        size: 21px;
                    }
                    &:after {
                        @include clearBoth();
                    }
                    .top-radio1 {
                        label {
                            @include margin ($mr:56px);
                        }
                    }
                    .top-radio2 {
                        @include margin ($mr:50px);
                        label {
                            @include margin ($mr:26px);
                        }
                    }
                    .top-radio1,.top-radio2 {
                        @include position (relative);
                        @include margin ($mt:30px,$mb:51px);
                        width: 575px; float: left;
                    }
                    .hide-content {
                        display: none;
                    }
                    .ib-content {
                        display: inline-block;
                    }
                    .checks {
                        @include margin ($mt:30px);
                        @include position (relative);
                        label {
                            color: $boderGray2;
                            font: {
                                weight: 300;
                            }
                        }
                        input[type="radio"] {
                            @include position (absolute);
                            width: 1px; height: 1px; padding: 0; margin: -1px;
                            overflow: hidden;
                            clip: rect(0,0,0,0); border: 0;
                        &+label {
                            display: inline-block;
                            @include position (relative);
                            @include padding ($pl:40px);
                            cursor: pointer;
                            -webkit-user-select: none; 
                            -moz-user-select: none; 
                            -ms-user-select: none;
                            &:before {
                                content: "";
                                @include position (absolute,$l:0,$t:1px);
                                width: 28px; height: 28px;
                                text-align: center;
                                border: 1px solid $boderGray2;
                                border-radius: 100%;
                            }
                            &:last-child {
                                @include margin ($mr:0);
                            }
                        }
                        &:checked + label:after {
                            content: "";
                            @include position (absolute,$l:4px,$t:5px);
                            width: 22px; height: 22px; background: $mainButtonColor;
                            border-radius: 100%;
                            }
                        }
                    }
                    .top-owner1 {
                        @include margin ($mr:50px);
                    }
                    .top-owner1,.top-owner2 {
                        float: left;
                        input {
                            @include padding ($pl:19px);
                            @include margin ($mt:14px,$mb:28px);
                            width: 575px; height: 64px;
                        }
                    }
                    .top-agree {
                        .check-sq {
                            @include margin ($mt:30px);
                            @include padding ($pb:80px);
                            input[type="checkbox"] {
                                @include position (absolute);
                                width: 1px; height: 1px;
                                padding: 0; margin: -1px;
                                overflow: hidden; clip: rect(0,0,0,0);
                                border: 0;
                                &+label {
                                    display: inline-block;
                                    @include position (relative);
                                    cursor: pointer;
                                    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
                                    &:before {
                                        @include position (absolute,$t:1px,$l:9px);
                                        content: "";
                                        display: inline-block;
                                        width: 30px; height: 30px;
                                        background: url(../img/check-off.png);
                                    }
                                }
                                &:checked+label:before {
                                    background: url(../img/check-on.png);
                                }
                            }
                            label {
                                @include padding ($pl:49px);
                            }
                        }
                    }
                }
            }
                .mid-form {
                    @include position (relative);
                    @include padding ($pb:62px);
                    &:after {
                        @include clearBoth();
                    }
                    input {
                        @include padding ($pl:19px,$pr:19px);
                        @include margin ($mt:14px,$mb:28px);
                        width: 575px; height: 64px; 
                    }
                    div {
                        float: left;
                        &:nth-child(odd) {
                            input {
                                @include margin ($mr:50px);
                            }
                        }
                        &.address {
                            input {
                                background: #f1f1f1;
                                border: 1px solid #cecece;
                            }
                        }
                    }
                    button {
                        margin-top: 45px; margin-bottom: 28px;
                        width: 575px; height: 64px;
                        cursor: pointer; background: #485574;
                        color: $whiteColor;
                        font: {
                            size: 21px;
                            weight: 500;
                        }
                        
                    }
                    .case {
                        @include margin ($mr:50px);
                        select {
                            @include margin ($mt:14px);
                            width: 575px; height: 64px;
                            @include padding ($pl:19px,$pr:19px);
                            border: 1px solid $boderGray2;
                            &::-ms-expand {
                                display: none;
                            }
                            -webkit-appearance: none;
                            background: url(../img/arrow.png) 540px 28px no-repeat;
                            color: $boderGray2;
                            font: {
                                size: 20px;
                                weight: 300;
                            }
                            option {
                                color: $mainTextColor;
                                font: {
                                    weight: 500;
                                }
                            }
                        }
                    }
                    .details-02 {
                        input[disabled] {
                            background: #f1f1f1;
                        }
                    }
                    .details {
                        input[disabled] {
                            background: #f1f1f1;
                        }
                    }
                }
                .bottom-form {
                    @include border-bottom;
                    @include margin ($mt:64px,$mb:62px);
                    @include padding ($pb:62px);
                    select {
                        border: 1px solid $boderGray2;
                        &::-ms-expand {
                            display: none;
                        }
                        -webkit-appearance: none;
                        background: url(../img/arrow.png) 1170px 28px no-repeat;
                        @include padding ($pl:19px);
                        @include margin ($mt:14px,$mb:28px);
                        width: $width100; height: 64px;
                        color: $boderGray2;
                        font: {
                            size: 20px;
                            weight: 300;
                        }
                        option {
                            color: $mainTextColor;
                            font: {
                                weight: 500;
                            }
                        }
                    }
                    textarea {
                        border: 1px solid $boderGray2;
                        @include padding ($pl:19px,$pt:21px);
                        @include margin ($mt:14px);
                        width: $width100;
                        font: {
                            size: 21px;
                            weight: 400;
                        }
                    }
                }
                .button-wrap {
                    @include margin ($mb:159px);
                    input {
                        cursor: pointer;
                        border: none;
                        color: $whiteColor; background: $mainButtonColor;
                        width: 574px; height: 74px;
                        font: {
                            size: 22px;
                            weight: 500;
                        }
                        &.complete {
                            float: right;
                        }
                        &.cancel {
                            background: $whiteColor; border: 1px solid $mainButtonColor;
                            color: $mainButtonColor;
                        }
                    }
                }
            }
        }
    }
}
