@charset "UTF-8";
/*변수*/
/* noto-sans-kr-100 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NotoSans/noto-sans-kr-v8-korean-100.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Thin"), local("NotoSansKR-Thin"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-100.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-100.woff2") format("woff2"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-100.woff") format("woff"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-100.ttf") format("truetype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-100.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-300 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSans/noto-sans-kr-v8-korean-300.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Light"), local("NotoSansKR-Light"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-300.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-300.woff2") format("woff2"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-300.woff") format("woff"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-300.ttf") format("truetype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-300.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSans/noto-sans-kr-v8-korean-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Light"), local("NotoSansKR-Light"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-regular.woff2") format("woff2"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-regular.woff") format("woff"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-regular.ttf") format("truetype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-regular.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-500 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSans/noto-sans-kr-v8-korean-500.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-500.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-500.woff2") format("woff2"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-500.woff") format("woff"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-500.ttf") format("truetype"), url("../fonts/noto/noto-sans-kr-v8-korean-500.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSans/noto-sans-kr-v8-korean-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-700.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-700.woff2") format("woff2"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-700.woff") format("woff"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-700.ttf") format("truetype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-700.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* noto-sans-kr-900 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSans/noto-sans-kr-v8-korean-900.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans KR Black"), local("NotoSansKR-Black"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-900.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-900.woff2") format("woff2"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-900.woff") format("woff"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-900.ttf") format("truetype"), url("../fonts/NotoSans/noto-sans-kr-v8-korean-900.svg#NotoSansKR") format("svg");
  /* Legacy iOS */
}

/* NanumBarunGothic-200 */
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 200;
  src: url("../fonts/NanumBarunGothic/NanumBarunGothicUltraLightSubset.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumBarunGothic/NanumBarunGothicUltraLightSubset.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumBarunGothic/NanumBarunGothicUltraLightSubset.woff2") format("woff2"), url("../fonts/NanumBarunGothic/NanumBarunGothicUltraLightSubset.woff") format("woff"), url("../fonts/NanumBarunGothic/NanumBarunGothicUltraLightSubset.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* NanumBarunGothic-300 */
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 300;
  src: url("../fonts/NanumBarunGothic/NanumBarunGothicLightSubset.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumBarunGothic/NanumBarunGothicLightSubset.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumBarunGothic/NanumBarunGothicLightSubset.woff2") format("woff2"), url("../fonts/NanumBarunGothic/NanumBarunGothicLightSubset.woff") format("woff"), url("../fonts/NanumBarunGothic/NanumBarunGothicLightSubset.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* NanumBarunGothic-400 */
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  src: url("../fonts/NanumBarunGothic/NanumBarunGothicSubset.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumBarunGothic/NanumBarunGothicSubset.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumBarunGothic/NanumBarunGothicSubset.woff2") format("woff2"), url("../fonts/NanumBarunGothic/NanumBarunGothicSubset.woff") format("woff"), url("../fonts/NanumBarunGothic/NanumBarunGothicSubset.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* NanumBarunGothic-700 */
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 700;
  src: url("../fonts/NanumBarunGothic/NanumBarunGothicBoldSubset.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumBarunGothic/NanumBarunGothicBoldSubset.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumBarunGothic/NanumBarunGothicBoldSubset.woff2") format("woff2"), url("../fonts/NanumBarunGothic/NanumBarunGothicBoldSubset.woff") format("woff"), url("../fonts/NanumBarunGothic/NanumBarunGothicBoldSubset.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* NanumSquare-200 */
@font-face {
  font-family: 'NanumSquare';
  font-weight: 200;
  src: url("../fonts/NanumSquare/NanumSquareL.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquare/NanumSquareL.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumSquare/NanumSquareL.woff") format("woff"), url("../fonts/NanumSquare/NanumSquareL.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* NanumSquare-400 */
@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url("../fonts/NanumSquare/NanumSquareR.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquare/NanumSquareR?#iefix") format("embedded-opentype"), url("../fonts/NanumSquare/NanumSquareR.woff") format("woff"), url("../fonts/NanumSquare/NanumSquareR.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* NanumSquare-700 */
@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url("../fonts/NanumSquare/NanumSquareB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquare/NanumSquareB?#iefix") format("embedded-opentype"), url("../fonts/NanumSquare/NanumSquareB.woff") format("woff"), url("../fonts/NanumSquare/NanumSquareB.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* NanumSquare-900 */
@font-face {
  font-family: 'NanumSquare';
  font-weight: 900;
  src: url("../fonts/NanumSquare/NanumSquareEB.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NanumSquare/NanumSquareEB?#iefix") format("embedded-opentype"), url("../fonts/NanumSquare/NanumSquareEB.woff") format("woff"), url("../fonts/NanumSquare/NanumSquareEB.ttf") format("truetype");
  /* Safari, Android, iOS */
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Noto Sans CJK KR';
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
}

button:focus {
  outline: 0;
}

body {
  min-width: 320px;
  margin: 0;
}

html, body {
  height: 100%;
}

img {
  border: 0;
}

header .header-wrap {
  position: relative;
  min-width: 320px;
  max-width: 100%;
  height: 54px;
  background: #366df2;
}

header .header-wrap h1 {
  text-align: center;
  line-height: 54px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

header .header-wrap .backpage-arrow {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

header .header-wrap .backpage-arrow a {
  display: block;
}

header .header-wrap .backpage-arrow a img {
  width: 9px;
}

header .header-wrap .nav-button {
  position: absolute;
  top: 20px;
  right: 17px;
  width: 19px;
  background: none;
}

header .header-wrap .nav-button span {
  display: block;
  width: 19px;
  height: 2px;
  background: #fff;
  border-radius: 9999px;
}

header .header-wrap .nav-button span:nth-child(2) {
  margin-top: 4px;
  margin-bottom: 4px;
}

header.main-header .header-wrap {
  background: #fff;
}

header.main-header .header-wrap .nav-button span {
  background: #222;
}

.sub-title-wrap {
  margin-bottom: 5%;
}

.sub-title-wrap h2 {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.sub-title-wrap p {
  color: #999;
  font-size: 12px;
  font-weight: 300;
}

.sub-title-wrap span {
  display: block;
  width: 30px;
  height: 2px;
  background: #999;
  margin: 20px auto 28px;
}

.mobile-title-wrap {
  margin-bottom: 5%;
}

.mobile-title-wrap h2 {
  text-align: center;
  color: #222;
  font-size: 19px;
  font-weight: 700;
}

.mobile-title-wrap b {
  display: block;
  text-align: center;
  color: #222;
  font-size: 12px;
  font-weight: 700;
}

.mobile-title-wrap span {
  display: block;
  width: 22px;
  height: 2px;
  background: #000;
  margin: 20px auto 28px;
}

.sources {
  text-align: right;
  color: #afafaf;
  font-size: 10px;
  font-weight: 300;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.menu-section {
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}

.menu-section > span {
  position: absolute;
  top: 22px;
  right: 309px;
  width: 10px;
  height: 10px;
  background: url(../img/menu-close.png);
}

.menu-section .menu-content {
  overflow: scroll;
  float: right;
  width: 297px;
  height: 100%;
  background: #fff;
  /* 2019-06-18 */
}

.menu-section .menu-content .logout-box {
  padding-top: 40px;
  padding-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-section .menu-content .logout-box .logout {
  background: none;
  color: #444;
  font-size: 12px;
  font-weight: 500;
}

.menu-section .menu-content .logout-box .logout img {
  width: 11px;
  margin-left: 10px;
}

.menu-section .menu-content .top-box {
  width: 100%;
  /* 2019-06-18 */
}

.menu-section .menu-content .top-box .info-box {
  background: #366df2;
  color: #fff;
  padding-top: 29px;
  padding-bottom: 29px;
}

.menu-section .menu-content .top-box .info-box.login-case {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-section .menu-content .top-box .info-box:after {
  content: "";
  display: block;
  clear: both;
}

.menu-section .menu-content .top-box .info-box p {
  text-align: center;
  padding-bottom: 19px;
  font-size: 17px;
  font-weight: 200;
}

.menu-section .menu-content .top-box .info-box .button-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.menu-section .menu-content .top-box .info-box .button-wrap button {
  margin-right: 16px;
  width: 112px;
  text-align: left;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  background: #366df2 url(../img/menubox-arrow.png) 82px 14px no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  font-weight: 300;
}

.menu-section .menu-content .top-box .info-box .button-wrap button:last-child {
  margin-right: 0;
}

.menu-section .menu-content .top-box .info-box .img-box {
  float: left;
  margin-right: 12px;
}

.menu-section .menu-content .top-box .info-box .img-box img {
  width: 47px;
}

.menu-section .menu-content .top-box .info-box .tell-box {
  float: right;
}

.menu-section .menu-content .top-box .info-box .tell-box p {
  text-align: left;
  padding-bottom: 0;
  font-size: 14px;
}

.menu-section .menu-content .top-box .info-box .tell-box strong {
  font-size: 17px;
}

.menu-section .menu-content .top-box .menu-box ul:after {
  content: "";
  display: block;
  clear: both;
}

.menu-section .menu-content .top-box .menu-box ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 25%;
  float: left;
  text-align: center;
}

.menu-section .menu-content .top-box .menu-box ul li img {
  width: 37px;
}

.menu-section .menu-content .top-box .menu-box ul li p {
  color: #222;
  font-size: 11px;
  font-weight: 300;
}

.menu-section .menu-content .bottom-tab li ul .title-depth {
  padding-left: 17px;
  border-top: 1px solid #919191;
  height: 45px;
  line-height: 45px;
  color: #111;
  background: #f8f8f8;
  font-size: 14px;
  font-weight: 600;
}

.menu-section .menu-content .bottom-tab li ul .sub-depth {
  border-top: 1px solid #dcdcdc;
  height: 35px;
  color: #666;
  font-size: 13px;
}

.menu-section .menu-content .bottom-tab li ul .sub-depth a {
  position: relative;
  padding-left: 26px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-section .menu-content .bottom-tab li ul .sub-depth a img:last-child {
  position: absolute;
  right: 26px;
}

@media screen and (max-width: 320px) {
  .menu-section > span {
    position: absolute;
    top: 22px;
    right: 250px;
    width: 10px;
    height: 10px;
    background: url(../img/menu-close.png);
  }
  .menu-section .menu-content {
    width: 240px;
  }
  .menu-section .menu-content .top-box .info-box .button-wrap button {
    width: 90px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    background: #366df2 url(../img/menubox-arrow.png) 65px 12px no-repeat;
    font-size: 12px;
    font-weight: 300;
  }
}

.top-button {
  display: none;
  position: fixed;
  bottom: 27px;
  right: 6%;
  width: 40px;
  height: 40px;
  background: url("../img/top-button.png") no-repeat;
  background-size: contain;
  text-indent: -9999px;
  z-index: 9999;
  cursor: pointer;
}

/* CheckBox */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label .checkbox-custom {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/check-off.png) center center no-repeat;
  background-size: 100%;
}

input[type="checkbox"]:checked + label .checkbox-custom {
  width: 15px;
  height: 15px;
  background: url(../img/check-on.png) center center no-repeat;
  background-size: 100%;
}

.checkbox-custom {
  margin-right: 6px;
}

#__bs_notify__ {
  z-index: 99999999 !important;
  /* Do not delete */
}
