/*변수*/
$boderGray : #adadad;
$boderGray2 : #999;
$boderwhiteOp : rgba(255,255,255,0.15);
$mainTextColor : #333;
$mainTextColor2 : #555;
$mainTextColor3 : #222;
$mainTextColor4 : #444;
$mainTextColor5 : #666;
$whiteColor : #fff;
$blackColor : #000;
$width100 : 100%;
$mainCopyright : #061536;
$subBgColor : #e7edf1;
$subTextColor: #302920;
$bgTextColor: #1c1d1f;
$mainButtonColor : #366df2;
$radiusBox : #839dd6;